// .btn-default.btn-select
.btn-default {
    &.btn-select {
        color: $fg;
        background-color: $bg;
        border-color: $darker_gray;
    }
    &.btn-select:focus,
    &.btn-select.focus {
        color: $fg;
        background-color: $bg;
        border-color: $darker_gray;
    }
    &.btn-select:hover {
        color: $fg;
        background-color: $bg;
        border-color: $darker_gray;
    }
}
