$bg = rgba(#282828, 1);
$fg = rgba(#ebdbb2, 1);
$red = rgba(#cc241d, 1)
$green = rgba(#98971a, 1)
$yellow = rgba(#d79921, 1)
$blue = rgba(#458588, 1)
$purple = rgba(#b16286, 1)
$aqua = rgba(#689d6a, 1)
$gray = rgba(#a89984, 1)
$darker_gray = rgba(#928374, 1)
$br_red = rgba(#fb4934, 1)
$br_green = rgba(#b8bb26, 1)
$br_yellow = rgba(#fabd2f, 1)
$br_blue = rgba(#83a598, 1)
$br_purple = rgba(#d3869b, 1)
$br_aqua = rgba(#8ec07c, 1)
$bg0_h = rgba(#1d2021, 1)
$bg1 = rgba(#3c3836, 1)
$bg2 = rgba(#504945, 1)
$bg3 = rgba(#665c54, 1)
$bg4 = rgba(#7c6f64, 1)
$bg0_s = rgba(#32302f, 1)
$fg4 = rgba(#a89984, 1)
$fg3 = rgba(#bdae93, 1)
$fg2 = rgba(#d5c4a1, 1)
$fg0 = rgba(#fbf1c7, 1)
$orange = rgba(#d65d0e, 1)
$br_orange = rgba(#fe8019, 1)
