@import '../../styles/gruvbox.styl'

.widget {
    // default
    .widget-header,
    .widget-footer {
        border-color: $darker_gray;
        background-color: $bg;
        color: $fg;
    }
    .widget-sortable,
    .widget-controls {
        background-color: $bg;
        a {
            color: $br_blue;
        }
        a:hover {
            color: $blue;
        }
    }
}
