@import "variables";
@import "../styles/gruvbox.styl"

.sidebar {
    background-color: $bg0_s;
    position: fixed;
    top: $navbar-height;
    border-right: 1px solid $darker_gray;
    left: 0;
    bottom: 0;
    width: $sidebar-width;
    z-index: 1000;
}

.main {
    position: absolute;
    top: $navbar-height;
    left: $sidebar-width;
    right: 0;
    bottom: 0;
    background-color: $bg;
    min-width: $content-min-width;
}

.content {
    position: relative;
    background-color: $bg;
}
