@import "../../styles/gruvbox.styl";

.navbar {
    position: relative;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;

    &.icon-xyz {
        background: url("./images/xyz.svg") no-repeat 0 0;
    }
    &.icon-gear {
        background: url("./images/gear.svg") no-repeat 0 0;
    }
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    > li {
        position: relative;
        display: block;

        > a {
            position: relative;
            display: block;
            background-color: $bg0_s;
            border-bottom: 1px solid $darker_gray;
            color: $fg2;
            text-decoration: none;
            white-space: nowrap;
            padding: 10px 0;

            > .icon.icon-invert {
                filter: invert(60%);
            }
        }
        > a:focus,
        > a:hover {
            color: $fg;
            background-color: $bg0_s;

            > .icon.icon-invert {
                filter: invert(100%);
            }
        }
    }
    > li.active {
        > a,
        > a:focus,
        > a:hover {
            color: $fg;
            background-color: $bg0_h;

            > .icon.icon-invert {
                filter: invert(100%);
            }
        }
    }
}
