@import '../../styles/gruvbox';

.help-block {
    display: block;
    margin-top: 4px;
    color: $fg;
    position: relative;

    &.help-block-invalid {
        color: $gray;
        .icon {
            color: $br_purple; // override color of tm-font icon
        }
    }

    .icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        font-size: 16px;
        margin-right: 4px;
        vertical-align: top;
        margin-top: 2px;
    }
}
