@import '../../styles/gruvbox';
.toggler {
    color: inherit;

    &:hover,
    &:focus {
        color: inherit;

        .toggler-icon {
            color: $blue;
        }
    }

    .toggler-icon {
        color: $br_blue;
    }
}
