.widget-content {
    position: relative;

    &.hidden {
        display: none;
    }
    &.fullscreen {
    }

    .inactive-content {
        padding: 10px;
        color: #ebdbb2;
        opacity: .65;
    }
}
