@import '../../styles/gruvbox';

.panel {
    background-color: $bg;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba($bg, .05);
    margin-bottom: 10px;
}

.panel-heading {
    padding: 5px 10px;
    border-bottom: 1px solid transparent;
}

.panel-body {
    padding: 10px;
}

.panel-default {
    border-color: $darker_gray;

    > .panel-heading {
        color: $aqua;
        background-color: $bg0_h;
        border-color: $darker_gray;
    }
    > .panel-heading:last-child {
        border-color: transparent;
    }
}
